.kr-badge {
    padding: 4px 15px;
    border: 1px solid;
    border-radius: 7px;
}
.kr-badge-success {
    color: #28a745;
    border-color: #28a745;
}
.kr-badge-warning {
    color: #16df7e;
    border-color: #16df7e;
}
